.parentParentContainer {
  align-content: space-around;
}

.playBackContainer {
  border-radius: 3em;
  margin-bottom: 0;
  height: 11em;
  display: flex;
  border-radius: 16px;
  background: #ef8f68;
  box-shadow: inset 8px 8px 16px #a36147, inset -8px -8px 16px #ffbd89;
}

.sideContainers {
  width: 30vh;
  height: 80vh;
  /* margin: 1em; */
  margin-bottom: 0;
  margin-top: 2;
  margin-bottom: 10px;
  padding: 2em;
}
.menuButton {
  width: 100%;
  height: 3em;
  color: #ef8f68;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 12px 12px 24px #8c8c8c, -12px -12px 24px #ffffff;
}
.btnContainerActive {
  width: 100%;
  height: 3.5em;
  background-color: #ef8f68;
  margin: 1em;
  font-size: 17px;
  border-radius: 14px;
  color: #ffffff;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  font-size: 15px;

  width: 90%;
  transition: 0.2s ease-in;
  background-color: #fffffd;
  margin: 0.5em;
  /* margin-bottom: 2em; */
  height: 3em;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer:hover {
  transform: scale(1.1);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.5em;
  /* height: max-content + 1em; */

  border-radius: 10px;
  background: #ef8f68;
  box-shadow: 5px 5px 32px #ba7051, -5px -5px 32px #ffae7f;
}

.userCard {
  transition: transform 1.5s ease-in-out;
  height: 7em;
  margin: 1em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 23px;
  background: #fffffd;
  box-shadow: 5px 5px 29px #f0f0ee, -5px -5px 29px #ffffff;
}

.userCard :hover {
  transform: scale(1.5);
}
.userCard p,
small {
  color: #ef8f68;
}

.userprofile {
  height: 1px;
}
.nowplayindContainer {
  display: flex;
  position: relative;
  height: 15.5vh;

  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.nowplayindContainer img {
  margin-right: 2em;
  height: 9em;
  border-radius: 10em;

  animation: rotate 2.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.songTitleContainer  {
  color: #ffffff;
}

.playbackButtons {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
}

.seekerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  padding: 0.2em;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  height: 80vh;
  width: 110vh;
  margin-bottom: 1em;
  border-radius: 25px;
  background: #fffffd;
  box-shadow: inset 41px 41px 82px #ebebe9, inset -41px -41px 82px #ffffff;
}

.albumCardContainer {
  height: 20em;
  width: 19em;
  font-size: 16px;
  margin: 1.3em;
  transition: 0.1s ease-in-out;
}

.albumCardContainer:hover {
  transform: scale(1.1);
  align-self: center;
  justify-content: center;
  align-content: center;
  height: 20em;
  width: 17em;
  font-size: 16px;
  border-radius: 1.5em;
  background: #fffffd;
  box-shadow: 5px 5px 10px #666665, -5px -5px 10px #ffffff;
  font-weight: 800;
  font-style: oblique;
}

.albumCardContainer img {
  margin-bottom: 1em;
  margin-top: 0.5em;
  height: 15em;
  width: 15em;
  border-radius: 22px;
  background: #fffffd;
  box-shadow: 5px 5px 10px #666665, -5px -5px 10px #ffffff;
}

.albumCardContainer:hover {
  transform: scale(1.009);
  transition: 0.2s ease-in-out;
}

.albumCardContainer img:hover {
  opacity: 90%;
}

.albumCardContainer h4 {
  color: #ef8f68;
  text-align: left;
  padding-left: 2em;

  font-size: 1.2em;
}
